<div class="container-fluid">
  <div class="text-center">
    <h2>Movie</h2>
    <h4>Choose your Movie</h4>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <img src="https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg"style="width:50%" alt="San Francisco" width="400" height="300">
        </div>
        <div class="panel-body">
          <p><strong>Title:</strong> Batman & Robin</p>
          <p><strong>Year:</strong> 1997</p>
          <p><strong>Type:</strong>movie</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <img src="https://m.media-amazon.com/images/M/MV5BZmUwNGU2ZmItMmRiNC00MjhlLTg5YWUtODMyNzkxODYzMmZlXkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_SX300.jpg"style="width:50%" alt="San Francisco" width="400" height="300">
        </div>

        <div class="panel-body">
          <p><strong>Title:</strong> Batman & Robin</p>
          <p><strong>Year:</strong> 1997</p>
          <p><strong>Type:</strong>movie</p>
        </div>
      </div>
      </div>
    <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <img src="https://m.media-amazon.com/images/M/MV5BYThjYzcyYzItNTVjNy00NDk0LTgwMWQtYjMwNmNlNWJhMzMyXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg"
          style="width:50%" alt="San Francisco" width="400" height="300">
        </div>
        <div class="panel-body">
          <p><strong>Title:</strong> Batman & Robin</p>
          <p><strong>Year:</strong> 1997</p>
          <p><strong>Type:</strong>movie</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <img src="https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg"style="width:50%" alt="San Francisco" width="400" height="300">
        </div>
        <div class="panel-body">
          <p><strong>Title:</strong> Batman & Robin</p>
          <p><strong>Year:</strong> 1997</p>
          <p><strong>Type:</strong>movie</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <img src="https://m.media-amazon.com/images/M/MV5BNDdjYmFiYWEtYzBhZS00YTZkLWFlODgtY2I5MDE0NzZmMDljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg"
          style="width:50%" alt="San Francisco" width="400" height="300">
        </div>

        <div class="panel-body">
          <p><strong>Title:</strong> Batman & Robin</p>
          <p><strong>Year:</strong>1997</p>
          <p><strong>Type:</strong>movie</p>
        </div>
      </div>
      </div>
    <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <img src="https://m.media-amazon.com/images/M/MV5BMGQ5YTM1NmMtYmIxYy00N2VmLWJhZTYtN2EwYTY3MWFhOTczXkEyXkFqcGdeQXVyNTA2NTI0MTY@._V1_SX300.jpg"style="width:50%" alt="San Francisco" width="400" height="300">
        </div>
        <div class="panel-body">
          <p><strong>Title:</strong> Batman & Robin</p>
          <p><strong>Year:</strong> 1997</p>
          <p><strong>Type:</strong>movie</p>
        </div>
      </div>
    </div>
  </div>
  </div>


