
    <div class="container-fluid">
      <div class="text-center">
        <h2>Movie</h2>
        <h4>Movie Details</h4>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <img src="https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg"style="width:88%;height:89%" alt="San Francisco" width="300" height="200">
            </div>
          </div>
        </div>
           <div class="col-sm-6">
          <div class="panel panel-default text-center">
            <div class="panel-body">
          <p><strong>Title:</strong> Batman & Robin</p>
          <p><strong>Year:</strong> Ipsum</p>
          <p><strong>Type:</strong>movie</p>
		  <p><strong>Rated:</strong> PG-13</p>
		  <p><strong>Released:</strong> 23 Jun 1989</p>
		  <p><strong>Runtime:</strong> 126 min</p>
		  <p><strong>Genre:</strong> Action, Adventure</p>
		  <p><strong>Director:</strong> Tim Burton</p>
		  <p><strong>Writer:</strong> Bob Kane (Batman characters), Sam Hamm (story), Sam Hamm (screenplay), Warren Skaaren (screenplay)</p>
          <p><strong>Actors:</strong> Michael Keaton, Jack Nicholson, Kim Basinger, Robert Wuhl</p>
		  <p><strong>Plot:</strong> The Dark Knight of Gotham City begins his war on crime with his first major enemy being the clownishly homicidal Joker.</p>
		  <p><strong>Language:</strong> English, French, Spanish</p>
		  <p><strong>Country:</strong> USA, UK</p>
		  <p><strong>Awards:</strong> Won 1 Oscar. Another 8 wins & 26 nominations.</p>
		  <p><strong>Ratings:</strong> Source: Internet Movie Database,<br>
                                       Value : 7.5/10 <br>
                                       Source: Rotten Tomatoes,<br>
                                       Value : 72%  <br>
                                       Source: "Metacritic",<br>
                                       Value : "69/100"<br>
          </p>
		  <p><strong>Metascore:</strong>69</p>
		  <p><strong>imdbRating:</strong> 7.5</p>
		  <p><strong>imdbVotes:</strong> 317,478</p>
		  <p><strong>Response:</strong> Ture</p>

    </div>
  </div>

          </div>
      </div>
      <div class="row">
          <div class="col-sm-6">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <img src="https://m.media-amazon.com/images/M/MV5BZmUwNGU2ZmItMmRiNC00MjhlLTg5YWUtODMyNzkxODYzMmZlXkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_SX300.jpg"style="width:100%;height:100%" alt="San Francisco" width="300" height="200">
              </div>
            </div>
          </div>
             <div class="col-sm-6">
            <div class="panel panel-default text-center">
              <div class="panel-body">
            <p><strong>Title:</strong> Batman & Robin</p>
            <p><strong>Year:</strong> Ipsum</p>
            <p><strong>Type:</strong>movie</p>
        <p><strong>Rated:</strong> PG-13</p>
        <p><strong>Released:</strong> 23 Jun 1989</p>
        <p><strong>Runtime:</strong> 126 min</p>
        <p><strong>Genre:</strong> Action, Adventure</p>
        <p><strong>Director:</strong> Tim Burton</p>
        <p><strong>Writer:</strong> Bob Kane (Batman characters), Sam Hamm (story), Sam Hamm (screenplay), Warren Skaaren (screenplay)</p>
            <p><strong>Actors:</strong> Michael Keaton, Jack Nicholson, Kim Basinger, Robert Wuhl</p>
        <p><strong>Plot:</strong> The Dark Knight of Gotham City begins his war on crime with his first major enemy being the clownishly homicidal Joker.</p>
        <p><strong>Language:</strong> English, French, Spanish</p>
        <p><strong>Country:</strong> USA, UK</p>
        <p><strong>Awards:</strong> Won 1 Oscar. Another 8 wins & 26 nominations.</p>
        <p><strong>Ratings:</strong> Source: Internet Movie Database,<br>
                                         Value : 7.5/10 <br>
                                         Source: Rotten Tomatoes,<br>
                                         Value : 72%  <br>
                                         Source: "Metacritic",<br>
                                         Value : "69/100"<br>
            </p>
        <p><strong>Metascore:</strong>69</p>
        <p><strong>imdbRating:</strong> 7.5</p>
        <p><strong>imdbVotes:</strong> 317,478</p>
        <p><strong>Response:</strong> Ture</p>

      </div>
    </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
              <div class="panel panel-default text-center">
                <div class="panel-heading">
                  <img src="https://m.media-amazon.com/images/M/MV5BYThjYzcyYzItNTVjNy00NDk0LTgwMWQtYjMwNmNlNWJhMzMyXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg"style="width:88%;height:89%" alt="San Francisco" width="300" height="200">
                </div>
              </div>
            </div>
               <div class="col-sm-6">
              <div class="panel panel-default text-center">
                <div class="panel-body">
              <p><strong>Title:</strong> Batman & Robin</p>
              <p><strong>Year:</strong> Ipsum</p>
              <p><strong>Type:</strong>movie</p>
          <p><strong>Rated:</strong> PG-13</p>
          <p><strong>Released:</strong> 23 Jun 1989</p>
          <p><strong>Runtime:</strong> 126 min</p>
          <p><strong>Genre:</strong> Action, Adventure</p>
          <p><strong>Director:</strong> Tim Burton</p>
          <p><strong>Writer:</strong> Bob Kane (Batman characters), Sam Hamm (story), Sam Hamm (screenplay), Warren Skaaren (screenplay)</p>
              <p><strong>Actors:</strong> Michael Keaton, Jack Nicholson, Kim Basinger, Robert Wuhl</p>
          <p><strong>Plot:</strong> The Dark Knight of Gotham City begins his war on crime with his first major enemy being the clownishly homicidal Joker.</p>
          <p><strong>Language:</strong> English, French, Spanish</p>
          <p><strong>Country:</strong> USA, UK</p>
          <p><strong>Awards:</strong> Won 1 Oscar. Another 8 wins & 26 nominations.</p>
          <p><strong>Ratings:</strong> Source: Internet Movie Database,<br>
                                           Value : 7.5/10 <br>
                                           Source: Rotten Tomatoes,<br>
                                           Value : 72%  <br>
                                           Source: "Metacritic",<br>
                                           Value : "69/100"<br>
              </p>
          <p><strong>Metascore:</strong>69</p>
          <p><strong>imdbRating:</strong> 7.5</p>
          <p><strong>imdbVotes:</strong> 317,478</p>
          <p><strong>Response:</strong> Ture</p>

        </div>
      </div>

              </div>
          </div>
          <div class="row">
              <div class="col-sm-6">
                <div class="panel panel-default text-center">
                  <div class="panel-heading">
                    <img src="https://m.media-amazon.com/images/M/MV5BNDdjYmFiYWEtYzBhZS00YTZkLWFlODgtY2I5MDE0NzZmMDljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg"style="width:88%;height:89%" alt="San Francisco" width="300" height="200">
                  </div>
                </div>
              </div>
                 <div class="col-sm-6">
                <div class="panel panel-default text-center">
                  <div class="panel-body">
                <p><strong>Title:</strong> Batman & Robin</p>
                <p><strong>Year:</strong> Ipsum</p>
                <p><strong>Type:</strong>movie</p>
            <p><strong>Rated:</strong> PG-13</p>
            <p><strong>Released:</strong> 23 Jun 1989</p>
            <p><strong>Runtime:</strong> 126 min</p>
            <p><strong>Genre:</strong> Action, Adventure</p>
            <p><strong>Director:</strong> Tim Burton</p>
            <p><strong>Writer:</strong> Bob Kane (Batman characters), Sam Hamm (story), Sam Hamm (screenplay), Warren Skaaren (screenplay)</p>
                <p><strong>Actors:</strong> Michael Keaton, Jack Nicholson, Kim Basinger, Robert Wuhl</p>
            <p><strong>Plot:</strong> The Dark Knight of Gotham City begins his war on crime with his first major enemy being the clownishly homicidal Joker.</p>
            <p><strong>Language:</strong> English, French, Spanish</p>
            <p><strong>Country:</strong> USA, UK</p>
            <p><strong>Awards:</strong> Won 1 Oscar. Another 8 wins & 26 nominations.</p>
            <p><strong>Ratings:</strong> Source: Internet Movie Database,<br>
                                             Value : 7.5/10 <br>
                                             Source: Rotten Tomatoes,<br>
                                             Value : 72%  <br>
                                             Source: "Metacritic",<br>
                                             Value : "69/100"<br>
                </p>
            <p><strong>Metascore:</strong>69</p>
            <p><strong>imdbRating:</strong> 7.5</p>
            <p><strong>imdbVotes:</strong> 317,478</p>
            <p><strong>Response:</strong> Ture</p>

          </div>
        </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                  <div class="panel panel-default text-center">
                    <div class="panel-heading">
                      <img src="https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg"style="width:88%;height:89%" alt="San Francisco" width="300" height="200">
                    </div>
                  </div>
                </div>
                   <div class="col-sm-6">
                  <div class="panel panel-default text-center">
                    <div class="panel-body">
                  <p><strong>Title:</strong> Batman & Robin</p>
                  <p><strong>Year:</strong> Ipsum</p>
                  <p><strong>Type:</strong>movie</p>
              <p><strong>Rated:</strong> PG-13</p>
              <p><strong>Released:</strong> 23 Jun 1989</p>
              <p><strong>Runtime:</strong> 126 min</p>
              <p><strong>Genre:</strong> Action, Adventure</p>
              <p><strong>Director:</strong> Tim Burton</p>
              <p><strong>Writer:</strong> Bob Kane (Batman characters), Sam Hamm (story), Sam Hamm (screenplay), Warren Skaaren (screenplay)</p>
                  <p><strong>Actors:</strong> Michael Keaton, Jack Nicholson, Kim Basinger, Robert Wuhl</p>
              <p><strong>Plot:</strong> The Dark Knight of Gotham City begins his war on crime with his first major enemy being the clownishly homicidal Joker.</p>
              <p><strong>Language:</strong> English, French, Spanish</p>
              <p><strong>Country:</strong> USA, UK</p>
              <p><strong>Awards:</strong> Won 1 Oscar. Another 8 wins & 26 nominations.</p>
              <p><strong>Ratings:</strong> Source: Internet Movie Database,<br>
                                               Value : 7.5/10 <br>
                                               Source: Rotten Tomatoes,<br>
                                               Value : 72%  <br>
                                               Source: "Metacritic",<br>
                                               Value : "69/100"<br>
                  </p>
              <p><strong>Metascore:</strong>69</p>
              <p><strong>imdbRating:</strong> 7.5</p>
              <p><strong>imdbVotes:</strong> 317,478</p>
              <p><strong>Response:</strong> Ture</p>

            </div>
          </div>

                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                    <div class="panel panel-default text-center">
                      <div class="panel-heading">
                        <img src="https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg"style="width:88%;height:89%" alt="San Francisco" width="300" height="200">
                      </div>
                    </div>
                  </div>
                     <div class="col-sm-6">
                    <div class="panel panel-default text-center">
                      <div class="panel-body">
                    <p><strong>Title:</strong> Batman & Robin</p>
                    <p><strong>Year:</strong> Ipsum</p>
                    <p><strong>Type:</strong>movie</p>
                <p><strong>Rated:</strong> PG-13</p>
                <p><strong>Released:</strong> 23 Jun 1989</p>
                <p><strong>Runtime:</strong> 126 min</p>
                <p><strong>Genre:</strong> Action, Adventure</p>
                <p><strong>Director:</strong> Tim Burton</p>
                <p><strong>Writer:</strong> Bob Kane (Batman characters), Sam Hamm (story), Sam Hamm (screenplay), Warren Skaaren (screenplay)</p>
                    <p><strong>Actors:</strong> Michael Keaton, Jack Nicholson, Kim Basinger, Robert Wuhl</p>
                <p><strong>Plot:</strong> The Dark Knight of Gotham City begins his war on crime with his first major enemy being the clownishly homicidal Joker.</p>
                <p><strong>Language:</strong> English, French, Spanish</p>
                <p><strong>Country:</strong> USA, UK</p>
                <p><strong>Awards:</strong> Won 1 Oscar. Another 8 wins & 26 nominations.</p>
                <p><strong>Ratings:</strong> Source: Internet Movie Database,<br>
                                                 Value : 7.5/10 <br>
                                                 Source: Rotten Tomatoes,<br>
                                                 Value : 72%  <br>
                                                 Source: "Metacritic",<br>
                                                 Value : "69/100"<br>
                    </p>
                <p><strong>Metascore:</strong>69</p>
                <p><strong>imdbRating:</strong> 7.5</p>
                <p><strong>imdbVotes:</strong> 317,478</p>
                <p><strong>Response:</strong> Ture</p>

              </div>
            </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                      <div class="panel panel-default text-center">
                        <div class="panel-heading">
                          <img src="https://m.media-amazon.com/images/M/MV5BNDdjYmFiYWEtYzBhZS00YTZkLWFlODgtY2I5MDE0NzZmMDljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg"style="width:88%;height:89%" alt="San Francisco" width="300" height="200">
                        </div>
                      </div>
                    </div>
                       <div class="col-sm-6">
                      <div class="panel panel-default text-center">
                        <div class="panel-body">
                      <p><strong>Title:</strong> Batman & Robin</p>
                      <p><strong>Year:</strong> Ipsum</p>
                      <p><strong>Type:</strong>movie</p>
                  <p><strong>Rated:</strong> PG-13</p>
                  <p><strong>Released:</strong> 23 Jun 1989</p>
                  <p><strong>Runtime:</strong> 126 min</p>
                  <p><strong>Genre:</strong> Action, Adventure</p>
                  <p><strong>Director:</strong> Tim Burton</p>
                  <p><strong>Writer:</strong> Bob Kane (Batman characters), Sam Hamm (story), Sam Hamm (screenplay), Warren Skaaren (screenplay)</p>
                      <p><strong>Actors:</strong> Michael Keaton, Jack Nicholson, Kim Basinger, Robert Wuhl</p>
                  <p><strong>Plot:</strong> The Dark Knight of Gotham City begins his war on crime with his first major enemy being the clownishly homicidal Joker.</p>
                  <p><strong>Language:</strong> English, French, Spanish</p>
                  <p><strong>Country:</strong> USA, UK</p>
                  <p><strong>Awards:</strong> Won 1 Oscar. Another 8 wins & 26 nominations.</p>
                  <p><strong>Ratings:</strong> Source: Internet Movie Database,<br>
                                                   Value : 7.5/10 <br>
                                                   Source: Rotten Tomatoes,<br>
                                                   Value : 72%  <br>
                                                   Source: "Metacritic",<br>
                                                   Value : "69/100"<br>
                      </p>
                  <p><strong>Metascore:</strong>69</p>
                  <p><strong>imdbRating:</strong> 7.5</p>
                  <p><strong>imdbVotes:</strong> 317,478</p>
                  <p><strong>Response:</strong> Ture</p>

                </div>
              </div>

                      </div>
                  </div>
    </div>
        <!-- <div class="col-sm-6 ">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <img src="https://m.media-amazon.com/images/M/MV5BZmUwNGU2ZmItMmRiNC00MjhlLTg5YWUtODMyNzkxODYzMmZlXkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_SX300.jpg"style="width:50%" alt="San Francisco" width="400" height="300">
            </div>
            <div class="panel-body">
          <p><strong>Title:</strong> Batman & Robin</p>
          <p><strong>Year:</strong> Ipsum</p>
          <p><strong>Type:</strong>movie</p>
		  <p><strong>Rated:</strong> PG-13</p>
		  <p><strong>Released:</strong> 23 Jun 1989</p>
		  <p><strong>Runtime:</strong> 126 min</p>
		  <p><strong>Genre:</strong> Action, Adventure</p>
		  <p><strong>Director:</strong> Tim Burton</p>
		  <p><strong>Writer:</strong> Bob Kane (Batman characters), Sam Hamm (story), Sam Hamm (screenplay), Warren Skaaren (screenplay)</p>
          <p><strong>Actors:</strong> Michael Keaton, Jack Nicholson, Kim Basinger, Robert Wuhl</p>
		  <p><strong>Plot:</strong> The Dark Knight of Gotham City begins his war on crime with his first major enemy being the clownishly homicidal Joker.</p>
		  <p><strong>Language:</strong> English, French, Spanish</p>
		  <p><strong>Country:</strong> USA, UK</p>
		  <p><strong>Awards:</strong> Won 1 Oscar. Another 8 wins & 26 nominations.</p>
		  <p><strong>Ratings:</strong> Source: Internet Movie Database,<br>
                                       Value : 7.5/10 <br>
                                       Source: Rotten Tomatoes,<br>
                                       Value : 72%  <br>
                                       Source: "Metacritic",<br>
                                       Value : "69/100"<br>
          </p>
		  <p><strong>Metascore:</strong>69</p>
		  <p><strong>imdbRating:</strong> 7.5</p>
		  <p><strong>imdbVotes:</strong> 317,478</p>
		  <p><strong>Response:</strong> Ture</p>

		</div>

          </div>
          </div>
        <div class="col-sm-6">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <img src="https://m.media-amazon.com/images/M/MV5BYThjYzcyYzItNTVjNy00NDk0LTgwMWQtYjMwNmNlNWJhMzMyXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg"
              style="width:50%" alt="San Francisco" width="400" height="300">
            </div>
            <div class="panel-body">
          <p><strong>Title:</strong> Batman & Robin</p>
          <p><strong>Year:</strong> Ipsum</p>
          <p><strong>Type:</strong>movie</p>
		  <p><strong>Rated:</strong> PG-13</p>
		  <p><strong>Released:</strong> 23 Jun 1989</p>
		  <p><strong>Runtime:</strong> 126 min</p>
		  <p><strong>Genre:</strong> Action, Adventure</p>
		  <p><strong>Director:</strong> Tim Burton</p>
		  <p><strong>Writer:</strong> Bob Kane (Batman characters), Sam Hamm (story), Sam Hamm (screenplay), Warren Skaaren (screenplay)</p>
          <p><strong>Actors:</strong> Michael Keaton, Jack Nicholson, Kim Basinger, Robert Wuhl</p>
		  <p><strong>Plot:</strong> The Dark Knight of Gotham City begins his war on crime with his first major enemy being the clownishly homicidal Joker.</p>
		  <p><strong>Language:</strong> English, French, Spanish</p>
		  <p><strong>Country:</strong> USA, UK</p>
		  <p><strong>Awards:</strong> Won 1 Oscar. Another 8 wins & 26 nominations.</p>
		  <p><strong>Ratings:</strong> Source: Internet Movie Database,<br>
                                       Value : 7.5/10 <br>
                                       Source: Rotten Tomatoes,<br>
                                       Value : 72%  <br>
                                       Source: "Metacritic",<br>
                                       Value : "69/100"<br>
          </p>
		  <p><strong>Metascore:</strong>69</p>
		  <p><strong>imdbRating:</strong> 7.5</p>
		  <p><strong>imdbVotes:</strong> 317,478</p>
		  <p><strong>Response:</strong> Ture</p>

		</div>

          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <img src="https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg"style="width:50%" alt="San Francisco" width="400" height="300">
            </div>
            <div class="panel-body">
          <p><strong>Title:</strong> Batman & Robin</p>
          <p><strong>Year:</strong> Ipsum</p>
          <p><strong>Type:</strong>movie</p>
		  <p><strong>Rated:</strong> PG-13</p>
		  <p><strong>Released:</strong> 23 Jun 1989</p>
		  <p><strong>Runtime:</strong> 126 min</p>
		  <p><strong>Genre:</strong> Action, Adventure</p>
		  <p><strong>Director:</strong> Tim Burton</p>
		  <p><strong>Writer:</strong> Bob Kane (Batman characters), Sam Hamm (story), Sam Hamm (screenplay), Warren Skaaren (screenplay)</p>
          <p><strong>Actors:</strong> Michael Keaton, Jack Nicholson, Kim Basinger, Robert Wuhl</p>
		  <p><strong>Plot:</strong> The Dark Knight of Gotham City begins his war on crime with his first major enemy being the clownishly homicidal Joker.</p>
		  <p><strong>Language:</strong> English, French, Spanish</p>
		  <p><strong>Country:</strong> USA, UK</p>
		  <p><strong>Awards:</strong> Won 1 Oscar. Another 8 wins & 26 nominations.</p>
		  <p><strong>Ratings:</strong> Source: Internet Movie Database,<br>
                                       Value : 7.5/10 <br>
                                       Source: Rotten Tomatoes,<br>
                                       Value : 72%  <br>
                                       Source: "Metacritic",<br>
                                       Value : "69/100"<br>
          </p>
		  <p><strong>Metascore:</strong>69</p>
		  <p><strong>imdbRating:</strong> 7.5</p>
		  <p><strong>imdbVotes:</strong> 317,478</p>
		  <p><strong>Response:</strong> Ture</p>

		</div>

          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <img src="https://m.media-amazon.com/images/M/MV5BNDdjYmFiYWEtYzBhZS00YTZkLWFlODgtY2I5MDE0NzZmMDljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg"
              style="width:50%" alt="San Francisco" width="400" height="300">
            </div>
            <div class="panel panel-default text-center">
          <p><strong>Title:</strong> Batman & Robin</p>
          <p><strong>Year:</strong> Ipsum</p>
          <p><strong>Type:</strong>movie</p>
		  <p><strong>Rated:</strong> PG-13</p>
		  <p><strong>Released:</strong> 23 Jun 1989</p>
		  <p><strong>Runtime:</strong> 126 min</p>
		  <p><strong>Genre:</strong> Action, Adventure</p>
		  <p><strong>Director:</strong> Tim Burton</p>
		  <p><strong>Writer:</strong> Bob Kane (Batman characters), Sam Hamm (story), Sam Hamm (screenplay), Warren Skaaren (screenplay)</p>
          <p><strong>Actors:</strong> Michael Keaton, Jack Nicholson, Kim Basinger, Robert Wuhl</p>
		  <p><strong>Plot:</strong> The Dark Knight of Gotham City begins his war on crime with his first major enemy being the clownishly homicidal Joker.</p>
		  <p><strong>Language:</strong> English, French, Spanish</p>
		  <p><strong>Country:</strong> USA, UK</p>
		  <p><strong>Awards:</strong> Won 1 Oscar. Another 8 wins & 26 nominations.</p>
		  <p><strong>Ratings:</strong> Source: Internet Movie Database,<br>
                                       Value : 7.5/10 <br>
                                       Source: Rotten Tomatoes,<br>
                                       Value : 72%  <br>
                                       Source: "Metacritic",<br>
                                       Value : "69/100"<br>
          </p>
		  <p><strong>Metascore:</strong>69</p>
		  <p><strong>imdbRating:</strong> 7.5</p>
		  <p><strong>imdbVotes:</strong> 317,478</p>
		  <p><strong>Response:</strong> Ture</p>

		</div>

          </div>
          </div>
        <div class="col-sm-6">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <img src="https://m.media-amazon.com/images/M/MV5BMGQ5YTM1NmMtYmIxYy00N2VmLWJhZTYtN2EwYTY3MWFhOTczXkEyXkFqcGdeQXVyNTA2NTI0MTY@._V1_SX300.jpg"style="width:50%" alt="San Francisco" width="400" height="300">
            </div>
            <div class="panel-body">
          <p><strong>Title:</strong> Batman & Robin</p>
          <p><strong>Year:</strong> Ipsum</p>
          <p><strong>Type:</strong>movie</p>
		  <p><strong>Rated:</strong> PG-13</p>
		  <p><strong>Released:</strong> 23 Jun 1989</p>
		  <p><strong>Runtime:</strong> 126 min</p>
		  <p><strong>Genre:</strong> Action, Adventure</p>
		  <p><strong>Director:</strong> Tim Burton</p>
		  <p><strong>Writer:</strong> Bob Kane (Batman characters), Sam Hamm (story), Sam Hamm (screenplay), Warren Skaaren (screenplay)</p>
          <p><strong>Actors:</strong> Michael Keaton, Jack Nicholson, Kim Basinger, Robert Wuhl</p>
		  <p><strong>Plot:</strong> The Dark Knight of Gotham City begins his war on crime with his first major enemy being the clownishly homicidal Joker.</p>
		  <p><strong>Language:</strong> English, French, Spanish</p>
		  <p><strong>Country:</strong> USA, UK</p>
		  <p><strong>Awards:</strong> Won 1 Oscar. Another 8 wins & 26 nominations.</p>
		  <p><strong>Ratings:</strong> Source: Internet Movie Database,<br>
                                       Value : 7.5/10 <br>
                                       Source: Rotten Tomatoes,<br>
                                       Value : 72%  <br>
                                       Source: "Metacritic",<br>
                                       Value : "69/100"<br>
          </p>
		  <p><strong>Metascore:</strong>69</p>
		  <p><strong>imdbRating:</strong> 7.5</p>
		  <p><strong>imdbVotes:</strong> 317,478</p>
		  <p><strong>Response:</strong> Ture</p>

		</div>

          </div>
        </div>
      </div>
      </div> -->
